name: .NET CI MIXED

on: 
    workflow_dispatch: {}
    push:
        branches: [main]
        
    pull_request:
        branches:
            [main]
 
jobs:
  minsta_job_id:
    runs-on: ubuntu-latest
    steps:
        - run: echo "HEJ"
